@font-face {
  font-family: "0xProto";
  font-weight: 1 1000;
  src: url("$assets/0xproto-regular.woff2");
  font-display: swap;
}

@font-face {
  font-family: "0xProto";
  font-style: italic;
  font-weight: 1 1000;
  src: url("$assets/0xproto-italic.woff2");
  font-display: swap;
}
