.markdown-content {
  > :where(*) {
    width: 600px;
    max-width: 100%;
    margin: 1rem auto;
  }

  table {
    display: block;
    overflow: auto;

    tr {
      height: 1px;
    }

    tr + tr {
      border-top: 1px solid gray;
    }

    td,
    th {
      height: inherit;
      padding: 0.25rem;
      vertical-align: top;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    position: relative;

    > a {
      position: absolute;
      right: 100%;
      padding: 0 0.25em;
      opacity: 0;
      transition: opacity 150ms;
    }

    &:hover > a {
      opacity: 1;
    }
  }
}
