@import "katex/dist/katex.min.css";

:where(.markdown-content) {
  padding: 0 0.5em;

  > :where(*) {
    width: var(--main-width);
    max-width: 100%;
    margin: 1rem auto;
  }

  table {
    min-width: 100%;
    font-variant-numeric: tabular-nums;

    tr {
      height: 1px;
    }

    tr + tr,
    tbody > tr {
      border-top: 1px solid gray;
    }

    th {
      text-align: center;
      text-wrap: balance;
    }

    td,
    th {
      height: inherit;
      padding: 0.25rem;
      vertical-align: top;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 2rem auto 1rem;

    > a {
      margin-right: 0.5rem;
    }
  }

  pre,
  code {
    border-radius: 2px;
  }

  figure {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;

    img {
      border-radius: 2px;
    }

    figcaption {
      font-size: 0.8em;
      text-align: center;
      text-wrap: balance;
      opacity: 0.75;
    }
  }

  blockquote {
    padding-inline-start: 2em;
    contain: paint;
    font-style: italic;
    border-left: 4px solid currentcolor;
    opacity: 0.75;
  }

  kbd {
    padding: 0.125em 0.25em;
    margin-inline: 0.125em;
    border-radius: 2px;
    box-shadow: 0 0 0.25em #0002;
  }
}
