@use 'sanitize.css';
@use 'sanitize.css/assets.css';
@use 'sanitize.css/typography.css';

@use './assets/prism.scss';
@use './assets/techna-sans.scss';

:root {
  --prism-color: #1c1b1d;
  --prism-bg: #fafaff;
  --prism-highlight: #e9e9ff;
  --prism-function: #0077bf;
  --prism-keyword: #5c33bd;
  --prism-class: #ab6000;
  --prism-scalar: #bd2a33;
  --prism-string: #4e7e06;
  --prism-comment: #355454;

  scroll-behavior: smooth;
}

::selection {
  background-color: #ffff4488;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Techna Sans', sans-serif;
  font-weight: initial;
  font-feature-settings: 'ss01' 1;
}
