@forward "modern-normalize/modern-normalize.css";
@forward "./assets/prism";
@forward "./assets/techna-sans";
@forward "./assets/0xproto";

:root {
  --prism-color: #1c1b1d;
  --prism-bg: #fafaff;
  --prism-highlight: #e9e9ff;
  --prism-function: #0077bf;
  --prism-keyword: #5c33bd;
  --prism-class: #ab6000;
  --prism-scalar: #bd2a33;
  --prism-string: #4e7e06;
  --prism-comment: #355454;
  --main-width: 50rem;
  --color: #000;
  --bg: #fff;
  --link: #3a3a99;

  scrollbar-gutter: stable;
  line-height: 1.5;
  color: var(--color);
  scrollbar-width: thin;
  background-color: var(--bg);
}

:where(iframe, img, input, video, select, textarea) {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

::selection,
mark {
  background-color: #ff48;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Techna Sans", sans-serif;
  font-feature-settings: "ss01" 1;
}

a {
  padding: 0.125em 0;
  color: var(--link);
  text-decoration: none;
  background-image:
    linear-gradient(var(--link), var(--link)),
    linear-gradient(var(--link), var(--link));
  background-repeat: no-repeat, no-repeat;
  background-position:
    bottom left,
    bottom right;
  background-size:
    100% max(1px, 0.0625em),
    0% max(2px, 0.125em);
  transition:
    150ms color,
    150ms background-size,
    150ms border-radius;

  &:where(:hover) {
    background-position:
      bottom left,
      bottom left;
    background-size:
      100% max(1px, 0.0625em),
      100% max(2px, 0.125em);
  }

  &:where(:active, :focus) {
    color: var(--bg, #fff);
    outline: none;
    background-position:
      bottom left,
      bottom left;
    background-size:
      100% 100%,
      0% 0.125em;
    border-radius: 2px;
  }
}

table {
  border-collapse: collapse;
}

.icon {
  display: inline-block;
  width: 1.25em;
  height: 1.25em;
  vertical-align: text-bottom;
}
