@import "modern-normalize/modern-normalize.css";
@import "./assets/prism";
@import "./assets/techna-sans";
@import "./assets/0xproto";

:root {
  --prism-color: #1c1b1d;
  --prism-bg: #fafaff;
  --prism-highlight: #e9e9ff;
  --prism-function: #0077bf;
  --prism-keyword: #5c33bd;
  --prism-class: #ab6000;
  --prism-scalar: #bd2a33;
  --prism-string: #4e7e06;
  --prism-comment: #355454;
  --main-width: 50rem;
  --color: #000;
  --bg: #fff;
  --link: #3a3a99;

  scrollbar-gutter: stable;
  scrollbar-width: thin;
  line-height: 1.5;
  color: var(--color);
  background-color: var(--bg);
}

:where(iframe, img, input, video, select, textarea) {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

::selection,
mark {
  background-color: #ff48;
}

// Smooth transition between source and target height
// https://developer.mozilla.org/en-US/docs/Web/API/View_Transitions_API#customizing_your_animations
::view-transition-old(*),
::view-transition-new(*) {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Techna Sans", sans-serif;
  font-feature-settings: "ss01" 1;
}

a {
  padding: 0.125em 0;
  color: var(--link);
  text-decoration: none;
  background-image: linear-gradient(var(--link), var(--link)),
    linear-gradient(var(--link), var(--link));
  background-repeat: no-repeat, no-repeat;
  background-position:
    bottom left,
    bottom right;
  background-size:
    100% 0.0625em,
    0% 0.125em;
  transition:
    150ms color,
    150ms background-size;

  &:where(:hover) {
    background-position:
      bottom left,
      bottom left;
    background-size:
      100% 0.0625em,
      100% 0.125em;
  }

  &:where(:active),
  &:where(:focus) {
    color: var(--bg, #fff);
    background-position:
      bottom left,
      bottom left;
    background-size:
      100% 100%,
      0% 0.125em;
    outline: none;
  }
}

table {
  border-collapse: collapse;
}

.icon {
  vertical-align: text-bottom;
}
